body {
    background: url(img/background.jpg), black;
    font-family: "Fjalla One", san-serif;
    color: white;
}

body {
    margin-top: 5vh;
    margin-left: 5vw;
    margin-right: 5vw;
}

#main {
    margin-left: auto;
    margin-right: auto;
}

#round_title { font-size: 6vw; }
#round_subtitle { font-size: 1.5vw; }

#conjugation {
    width: 30vw;
    font-size: 4vw;
    text-align: left;
    padding: 0.5vw;
    padding-bottom: 2vw;
    border-radius: 0.5ex;
}

#conjugation.noanswer { background: rgb(20, 61, 102); }
#conjugation.incorrect { background: rgb(102, 30, 0); }
#conjugation.correct { background: rgb(30, 102, 0); }

.wordbox {
    font-size: 6vw;
    outline: none;
}

#inputbox {
    border-radius: 0.5ex;
    margin-top: 0vw;
    margin-bottom: 0.1ex;
    padding: 0.2ex;
    padding-left: 0.4ex;
    padding-right: 0.4ex;
    min-height: 2ex;

    position: relative;
    z-index: 1;
}

#answerbox {
    color: lightgray;
    font-style: italic;
    text-align: right;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}

#hearts {
    margin-top: 1ex;
    text-align: right;
}

.heart {
    width: 15vh;
    height: 15vh;
}

@keyframes entered {
    0% {
        transform: scale(1.0);
    }

    100% {
        transform: scale(1.01);
    }
}

.phaseout {
    animation-name: entered;
    animation-duration: 0.1s;
    animation-direction: alternate;
    animation-timing-function: ease;
}

.wordbox.noanswer {
    border: solid rgb(20, 61, 102) 5pt;
    background-color: rgb(51, 153, 255);
}

.wordbox.incorrect {
    border: solid rgb(102, 30, 0) 5pt;
    background-color: rgb(255, 50, 50);
}

.wordbox.correct {
    border: solid rgb(30, 102, 0) 5pt;
    background-color: rgb(71, 209, 71);
}

.dialog_wrapper {
    z-index: 2;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);

    /* Center in the viewport. */
    position: fixed;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.dialog {
    margin: 0 auto;
    background: white;
    color: black;
    border-radius: 1vw;
    padding: 2vw;

    /* Center in the viewport. */
    position: fixed;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

#round_dialog {
    text-align: center;
    font-size: 3vw;
    padding: 0;
    background: #ff3030;
    padding-bottom: 2vw;
}

#round_dialog h1 {
    font-size: 10vw;
    margin: 0;
    color: white;
}

#round_dialog div {
    background: white;
    padding: 2vw;
}

#round_dialog h2 {
    font-size: 7vw;
    margin: 0;
}

#round_dialog h3 {
    margin: 0;
    margin-bottom: 2vw;
    font-size: 7vw;
}

#round_dialog input[type=button] {
    transform: scale(2);
}

#options_wrapper {
    display: none;
}

#options {
    width: 60vw;
}

#options .moods_and_tenses {
    margin: 0 auto;
    text-align: center;
}

#options .mood_section {
    font-size: 2vw;
    text-align: left;
    vertical-align: text-top;
    display: inline-block;
    margin-left: 2vw;
    margin-right: 2vw;
}

#options .mood_section h2 {
    margin-bottom: 0.vh;
    margin-top: 1vh;
}

#options .mood_section input[type=checkbox] {
    transform: scale(1.5);
}

#options input[type=button] {
    font-size: 3vw;
    font-weight: bold;
    float: right;
}
